# Student Loan Risk with Deep Learning

In [64]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [65]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [66]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [67]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [68]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y[:5].values

array([0, 0, 0, 1, 0], dtype=int64)

In [69]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(['credit_ranking'], axis= 1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [70]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [71]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)

# Fit the scaler to the features testing dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [72]:
# Define the the number of inputs (features) to the model
num_input_features = len(X.columns)

# Review the number of features
num_input_features

11

In [73]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 5

# Define the number of neurons in the output layer
num_output_node = 1

In [74]:
# Create the Sequential model instance
nn_model = Sequential()

# Add the first hidden layer
nn_model.add(Dense(units=hidden_nodes_layer1,
                   input_dim=num_input_features,
                   activation='relu'))

# Add the second hidden layer
nn_model.add(Dense(units=hidden_nodes_layer2, activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(Dense(units=num_output_node, activation='sigmoid'))

In [75]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 96

 dense_10 (Dense)            (None, 5)                 45

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 147
Trainable params: 147
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [76]:
# Compile the Sequential model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [77]:
# Fit the model using 50 epochs and the training data
nn_fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 761us/step - loss: 0.6697 - accuracy: 0.5455
Epoch 2/50
38/38 [==============================] - 0s 786us/step - loss: 0.6304 - accuracy: 0.6055
Epoch 3/50
38/38 [==============================] - 0s 769us/step - loss: 0.6132 - accuracy: 0.6480
Epoch 4/50
38/38 [==============================] - 0s 765us/step - loss: 0.6014 - accuracy: 0.6664
Epoch 5/50
38/38 [==============================] - 0s 740us/step - loss: 0.5921 - accuracy: 0.6756
Epoch 6/50
38/38 [==============================] - 0s 781us/step - loss: 0.5832 - accuracy: 0.6922
Epoch 7/50
38/38 [==============================] - 0s 753us/step - loss: 0.5746 - accuracy: 0.7098
Epoch 8/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5663 - accuracy: 0.7198
Epoch 9/50
38/38 [==============================] - 0s 771us/step - loss: 0.5572 - accuracy: 0.7189
Epoch 10/50
38/38 [==============================] - 0s 820us/step - loss: 0.5483 - accuracy: 0.7281
Epoch 11/50
38/38 [==============================] - 0s 798us/step - loss: 0.5400 - accuracy: 0.7314
Epoch 12/50
38/38 [==============================] - 0s 767us/step - loss: 0.5336 - accuracy: 0.7389
Epoch 13/50
38/38 [==============================] - 0s 765us/step - loss: 0.5285 - accuracy: 0.7481
Epoch 14/50
38/38 [==============================] - 0s 814us/step - loss: 0.5241 - accuracy: 0.7456
Epoch 15/50
38/38 [==============================] - 0s 844us/step - loss: 0.5208 - accuracy: 0.7531
Epoch 16/50
38/38 [==============================] - 0s 799us/step - loss: 0.5179 - accuracy: 0.7531
Epoch 17/50
38/38 [==============================] - 0s 784us/step - loss: 0.5148 - accuracy: 0.7590
Epoch 18/50
38/38 [==============================] - 0s 783us/step - loss: 0.5130 - accuracy: 0.7573
Epoch 19/50
38/38 [==============================] - 0s 801us/step - loss: 0.5104 - accuracy: 0.7581
Epoch 20/50
38/38 [==============================] - 0s 727us/step - loss: 0.5082 - accuracy: 0.7615
Epoch 21/50
38/38 [==============================] - 0s 756us/step - loss: 0.5067 - accuracy: 0.7590
Epoch 22/50
38/38 [==============================] - 0s 754us/step - loss: 0.5051 - accuracy: 0.7565
Epoch 23/50
38/38 [==============================] - 0s 778us/step - loss: 0.5033 - accuracy: 0.7590
Epoch 24/50
38/38 [==============================] - 0s 803us/step - loss: 0.5019 - accuracy: 0.7623
Epoch 25/50
38/38 [==============================] - 0s 783us/step - loss: 0.5003 - accuracy: 0.7640
Epoch 26/50
38/38 [==============================] - 0s 763us/step - loss: 0.4992 - accuracy: 0.7598
Epoch 27/50
38/38 [==============================] - 0s 795us/step - loss: 0.4978 - accuracy: 0.7615
Epoch 28/50
38/38 [==============================] - 0s 817us/step - loss: 0.4958 - accuracy: 0.7598
Epoch 29/50
38/38 [==============================] - 0s 776us/step - loss: 0.4944 - accuracy: 0.7573
Epoch 30/50
38/38 [==============================] - 0s 787us/step - loss: 0.4934 - accuracy: 0.7648
Epoch 31/50
38/38 [==============================] - 0s 764us/step - loss: 0.4912 - accuracy: 0.7665
Epoch 32/50
38/38 [==============================] - 0s 778us/step - loss: 0.4904 - accuracy: 0.7656
Epoch 33/50
38/38 [==============================] - 0s 732us/step - loss: 0.4887 - accuracy: 0.7681
Epoch 34/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4873 - accuracy: 0.7656
Epoch 35/50
38/38 [==============================] - 0s 886us/step - loss: 0.4861 - accuracy: 0.7698
Epoch 36/50
38/38 [==============================] - 0s 776us/step - loss: 0.4848 - accuracy: 0.7715
Epoch 37/50
38/38 [==============================] - 0s 780us/step - loss: 0.4842 - accuracy: 0.7690
Epoch 38/50
38/38 [==============================] - 0s 788us/step - loss: 0.4828 - accuracy: 0.7673
Epoch 39/50
38/38 [==============================] - 0s 794us/step - loss: 0.4818 - accuracy: 0.7706
Epoch 40/50
38/38 [==============================] - 0s 770us/step - loss: 0.4812 - accuracy: 0.7731
Epoch 41/50
38/38 [==============================] - 0s 771us/step - loss: 0.4795 - accuracy: 0.7715
Epoch 42/50
38/38 [==============================] - 0s 724us/step - loss: 0.4789 - accuracy: 0.7740
Epoch 43/50
38/38 [==============================] - 0s 799us/step - loss: 0.4772 - accuracy: 0.7740
Epoch 44/50
38/38 [==============================] - 0s 784us/step - loss: 0.4766 - accuracy: 0.7748
Epoch 45/50
38/38 [==============================] - 0s 804us/step - loss: 0.4751 - accuracy: 0.7740
Epoch 46/50
38/38 [==============================] - 0s 780us/step - loss: 0.4742 - accuracy: 0.7765
Epoch 47/50
38/38 [==============================] - 0s 739us/step - loss: 0.4735 - accuracy: 0.7773
Epoch 48/50
38/38 [==============================] - 0s 765us/step - loss: 0.4724 - accuracy: 0.7756
Epoch 49/50
38/38 [==============================] - 0s 807us/step - loss: 0.4714 - accuracy: 0.7798
Epoch 50/50
38/38 [==============================] - 0s 811us/step - loss: 0.4708 - accuracy: 0.7765

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [78]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, batch_size=None, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5012 - accuracy: 0.7400 - 89ms/epoch - 7ms/step
Loss: 0.5011587142944336, Accuracy: 0.7400000095367432

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [79]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [80]:
# Set the model's file path
saved_file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(saved_file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [81]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled, verbose=2)

# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 44ms/epoch - 3ms/step

array([[0.5376111 ],
       [0.3025071 ],
       [0.8351589 ],
       [0.76598436],
       [0.98402566]], dtype=float32)

In [82]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=['predictions'], data=predictions)
predictions_df['predictions'] = round(predictions_df['predictions'], 0)
predictions_df

     predictions
0            1.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [83]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df['predictions'].values))

              precision    recall  f1-score   support

           0       0.71      0.76      0.73       188
           1       0.77      0.73      0.75       212

    accuracy                           0.74       400
   macro avg       0.74      0.74      0.74       400
weighted avg       0.74      0.74      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**